.animal-card {
  background-color: #f4f4f4;
  border: solid 1px #333;
  padding: 10px;
  margin: 10px 0px;
  width: 100%;
}

.animal-card > img {
  display: inline-block;
  height: 150px;
  width: 200px;
}

.animal-card > div {
  display: inline-block;
  vertical-align: top;
}

.animal-card > div > p > b {
  display: inline-block;
  text-align: right;
  width: 70px;
  padding-right: 20px;
}

.animal-card-toolbar {
  margin-top: 20px;
  margin-left: 90px;
}

.animal-card-toolbar > a {
  border: solid 1px #333;
  padding: 3px 6px;
  background-color: #474;
  text-decoration: none;
  color: #fff;
}
