header {
  background-color: #252;
  padding: 10px 20px;
  color: #fff;
  height: 30px;
}

header > h1 {
  font-size: 2em;
  float: left;
}

header > div {
  float: right;
}

header > div > .usuario {
  vertical-align: super;
  margin-right: 10px;
}

header > div > a {
  color: #fff;
  cursor: pointer;
  font-size: 2em;
}
