.textbox {
  padding: 3px 0px;
  display: block;
}

.textbox > input {
  border: solid 1px #333;
  display: block;
}

.textbox > input:focus {
  background-color: #ffffdd;
}

.textbox > input.error {
  border-color: #f22;
}

.textbox > .error-message {
  color: #f22;
  font-size: 0.8em;
}
