@import '_variables.scss';

.animal-card {
  background-color: #f4f4f4;
  border: solid 1px #333;
  padding: 10px;
  margin: 10px 0px;
  width: 100%;

  .foto-nav {
    vertical-align: top;
    display: inline-block;
    padding: 0px 5px;
    margin-top: 60px;
    color: $font-color;
  }

  img {
    display: inline-block;
    height: 150px;
    width: 200px;
  }

  div {
    display: inline-block;
    vertical-align: top;

    p > b {
      display: inline-block;
      text-align: right;
      width: 70px;
      padding-right: 20px;
    }
  }

  .animal-card-toolbar {
    margin-top: 20px;
    margin-left: 90px;

    a {
      border: solid 1px #333;
      padding: 3px 6px;
      background-color: #474;
      text-decoration: none;
      color: #fff;
    }
  }
}
