@import '_variables.scss';

html, button, input, select {
  color: $font-color;
  font-family: $font-family;
  font-size: $font-size;
}

input:focus, select:focus {
  outline: none;
}

body, h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: $container-width;
}
