@import '_variables.scss';

.button {
  margin-top: 10px;

  button {
    border: none;
    background-color: $button-background-color;
    color: $button-color;
    padding: 4px 10px;
    cursor: pointer;

    &:hover {
      background-color: $button-hover-background-color;
    }
  }

  i {
    margin-left: 10px;
  }
}
