.meus-animais {
  margin: 20px auto;
  width: 500px;

  h2 .button {
    margin-top: 0px;
    float: right;
  }

  table {
    width: 100%;
    margin-top: 10px;

    th {
      text-align: left;
    }

    th:nth-child(2) {
      width: 40px;
    }

    th:last-child {
        width: 100px;
    }

    .button {
      margin-top: 0px;

      button {
        width: 100%;
      }

      i {
        margin-left: 0px;
      }
    }

    tr.adotado {
      text-decoration: line-through;
    }
  }
}
