@import '_variables.scss';

.form-row {
  select {
    border: solid 1px $textbox-border-color;
    display: block;
    width: $textbox-default-width;

    &.active {
      background-color: $textbox-active-background-color;
    }

    &.invalid {
      border-color: $textbox-invalid-border-color;
    }
  }
}
